/* .css-d9ml5t-MuiDrawer-docked .MuiDrawer-paper {
    box-sizing: border-box;
    width: 295px !important;
}


.css-zxtyt4-MuiPaper-root-MuiAppBar-root {
    width: calc(100% - 295px) !important;
    margin-left: 286px;
} */